@import './common.scss';

.home-page {
  position: relative;
  overflow: auto;
  height: 100%;
  background: #fafcff;
}

section {
  font-family: 'Nunito', sans-serif;
  margin-top: 14.25rem;
}

h2 {
  font-family: 'Nunito', sans-serif;
  font-size: 2.625rem;
  color: #223355;
}

.main-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2.5rem;

  .main-bg {
    width: 35.1rem;
  }
}

.bg-top {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.bg-bottom {
  position: absolute;
  top: 8.4375rem;
  right: 0;
  z-index: -1;
}

.main-title {
  position: relative;
  margin-top: 0;
  padding: 2.5rem 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: left;

  h2 {
    width: 36rem;
    position: relative;
    color: #223355;
    text-align: left;
  }

  ul {
    position: relative;
    text-align: left;
    padding-top: 2rem;

    li {
      font-family: Nunito;
      font-weight: normal;
      text-align: left;
      line-height: 1.5rem;
      color: rgba(34, 51, 85, 0.8);

      width: 22rem;
      margin-bottom: 1.25rem;
      display: flex;
      align-items: flex-start;

      .check {
        padding: 4px 12px 0 0;
      }
    }
  }

  .router-list {
    display: flex;
    margin-top: 3rem;

    .button {
      font-family: Nunito;
      width: 11.875rem;
      height: 3.75rem;
      line-height: 3.5rem;
      font-size: 1.125rem;
    }
  }
}

.zh .main-title {
  h2 {
    .title-dec {
      &:nth-child(3) {
        left: -1.2rem;
      }
    }
  }
}

.latest-news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 12.5rem;

  .text-segmentation {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }

  h2 {
    margin-top: -2rem;
  }

  ul {
    margin-top: 6.94rem;
    width: 75rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  li {
    width: 17.8rem;
    height: 21.375rem;
    border-radius: 0.75rem;
    background-color: #fff;
    box-shadow: 0px 8px 40px rgba(18, 43, 91, 0.08);
    margin-bottom: 2.5rem;

    .news-img {
      width: 17.8rem;
    }

    .news-content {
      padding: 1.25rem 1.15rem 0 1.15rem;
      font-size: 1.125rem;
      line-height: 1.625rem;
      color: #223355;
      position: relative;
      height: 10.4rem;

      .title {
        flex: 1;
        font-family: Nunito;
        font-style: normal;
        font-weight: normal;
      }

      .time {
        font-size: 0.875rem;
        color: #c8ccde;
        position: absolute;
        bottom: 1.8rem;
      }
    }
  }

  .button {
    margin-top: 2.5rem;
    width: 10.4375rem;
    height: 3.75rem;
    line-height: 3.5rem;
    background: #fff;
    color: #3d75e3;

    &:hover {
      background: #3d75e3;
      color: #ffffff;
    }
  }
}

.user-cases {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 12.5rem;

  ul {
    margin-top: 6.94rem;
    width: 75rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  li {
    width: 17.8rem;
    height: 27.125rem;
    border-radius: 0.75rem;
    background-color: #fff;
    box-shadow: 0px 8px 40px rgba(18, 43, 91, 0.08);
    margin-bottom: 5rem;

    .user-cases-content {
      padding: 1rem 1.15rem 0 1.15rem;
      font-size: 1.125rem;
      line-height: 1.625rem;
      color: #223355;
      position: relative;
      height: 16.1875rem;

      .title {
        display: inline-block;
        font-size: 1.375rem;
        padding-bottom: 0.5rem;
      }

      .info {
        font-size: 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        overflow: hidden;
        -webkit-box-orient: vertical;
        line-height: 1.625rem;
      }

      .info-4 {
        -webkit-line-clamp: 4;
      }

      .time {
        font-size: 0.875rem;
        color: #c8ccde;
        position: absolute;
        bottom: 1.8rem;
      }
    }
  }

  .button {
    margin-top: 2.5rem;
    width: 10.4375rem;
    height: 3.75rem;
    line-height: 3.5rem;
    background: #fff;
    color: #3d75e3;

    &:hover {
      background: #3d75e3;
      color: #ffffff;
    }
  }

  img {
    width: 17.8rem;
  }
}

.documentation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.next-step {
  .section1 {
    p {
      font-size: 1.875rem;

      color: #3a3c3e;
    }
  }

  .section2 {
    p {
      &:first-child {
        color: #3a3c3e;
      }
    }
  }
}

@media screen and(min-width: 75.0625rem) {
  .user-cases {
  }

  .documentation {
  }

  .next-step {
    .section1 {
      p {
        font-size: 1.875rem;

        color: #3a3c3e;
      }
    }
  }
}

@media screen and (max-width: 75rem) and (min-width: 60.0625rem) {
  section {
    margin-top: 14rem;
  }

  .main-title {
    min-height: 61.5rem;

    ul {
      margin: 0rem auto 0 auto;
      padding: 4.7rem 0rem 4rem;

      li {
        width: 32.5rem;
        margin-bottom: 1.25rem;
      }

      li:nth-child(2n - 1) {
        margin-right: 0;
      }
    }
  }

  .latest-news {
    margin-top: 14.375rem;
  }

  .user-cases {
    ul {
      margin-top: 10rem;
    }

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 7.5rem;
    }

    img {
      margin-top: 3rem;
    }

    .desc {
      text-align: center;
      width: 40rem;
    }
  }

  .documentation {
    .container {
      display: flex;
      flex-direction: column;
      margin: 8.75rem 7.5rem 0 7.5rem;

      background: #f8faff;
      border-radius: 1.5rem;
    }

    .section1 {
      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5rem 5.625rem 0;
      }

      p {
        text-align: center;

        width: 40rem;
        margin: 1.25rem 0 1.875rem 0;
      }
    }

    .section2 {
      padding: 2rem 0 1.875rem 7.25rem;
    }
  }

  .next-step {
    .section1 {
      p {
        font-size: 1.875rem;
      }
    }
  }
}

@media screen and (max-width: 60rem) {
  .home-page {
    min-width: 20rem;
  }

  section {
    margin-top: 10rem;
  }

  button {
    height: 3rem;
  }

  h2 {
    font-size: 2rem;
    line-height: 1.75rem;
  }

  .main-title {
    width: 100%;
    height: initial !important;
    padding: 2rem;

    h2 {
      font-size: 1.375rem;
      width: 17.5rem;

      .title-dec {
        &:nth-child(1) {
          right: -1rem;
          top: 1.5rem;
        }

        &:nth-child(2) {
          right: 0rem;
          top: 2.4rem;
        }

        &:nth-child(3) {
          left: -0.5rem;
          top: 0.2rem;
        }
      }
    }

    ul {
      width: calc(100% - 1.875rem);
      max-width: 43.75rem;
      padding: 1.25rem;
      margin-top: 3.625rem;

      background: linear-gradient(
        180deg,
        rgba(248, 250, 255, 0.54) 0%,
        #f9fbff 95.09%,
        #f8faff 95.09%
      );
      border-radius: 0.25rem;

      li {
        width: 100%;
        font-size: 0.88rem;

        &:nth-child(2n - 1) {
          margin-right: 0rem;
        }
      }

      .decoration-list {
        display: none;
      }
    }

    .router-list {
      position: absolute;
      bottom: -8rem;

      .button:first-child {
        margin: 0;
      }

      .button:nth-child(2),
      .button:nth-child(3) {
        display: none;
      }
    }
  }

  .bg-top,
  .bg-bottom {
    display: none;
  }

  .latest-news {
    margin-top: 18rem;

    ul {
      width: initial;
      max-width: calc(100% - 3.125rem);
      margin-top: 4.0625rem;
    }

    li {
      flex-direction: column;
      padding: 0.625rem 0.625rem;
      margin-bottom: 0;
      border-bottom: 0.0625rem solid #edf0f5;
    }

    .title {
      line-height: 1.75rem;
    }
  }

  .user-cases {
    ul {
      width: 100%;
      max-width: 31.25rem;
    }

    li {
      margin-top: 5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    img {
      width: 21.375rem;
      margin: 2rem 0;
    }

    .title {
      margin: 0 2rem;
      text-align: center;
    }

    .desc {
      text-align: center;
      padding: 0 1.5rem;
      width: 100%;
      margin-top: 0;
    }

    .button {
      margin-top: 5rem;
    }
  }

  .latest-news {
    .text-segmentation {
      margin-top: 0;
    }
  }

  .documentation {
    padding: 0 1.5625rem;

    h2 {
      margin-bottom: 5rem;
    }

    .container {
      padding: 5rem 0 0;
      width: 100%;
      max-width: 31.25rem;
      text-align: center;
      background: #f8faff;
    }

    .section1 p {
      margin: 1.25rem 2rem 1.875rem;
    }

    .section2 {
      width: 100%;
    }

    .section2 li {
      width: calc(100% - 5rem);
      text-align: left;
      margin: 0 1.25rem 3.125rem 1.25rem;
      padding-left: 2.005rem;
    }
  }

  .next-step {
    margin-bottom: 7.5rem;

    .container {
      padding-top: 3rem;
    }
  }
}
